
<div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="./#home">Memmee</a>
        <div ng-controller="NavigationController" class="nav-collapse" >
            <ul class="nav">
                <li ng-repeat="navigationItem in navigationItems" ng-class="navigationItem.selected">
                    <a ng-click="select(navigationItem)" ng-href="./{{navigationItem.navigationLink}}">{{navigationItem.displayName}}</a></li>
                </li>
            </ul>
        </div><!--/.nav-collapse -->

        <div class="span6 offset3" ng-style="visibleLoggedInStyle">
            <ul class="nav">
                <li ng-class="profileSelected">
                    <a ng-click="toggleProfile(true)" ng-href="./#profile">You are logged in as: {{loggedInUser.email}}</a>
                </li>
                <li>
                    <button ng-click="logout()" class="btn btn-primary">Logout »</button>
                </li>
            </ul>
        </div>

    </div>
</div>
