<div class="row">
    <div class="span6 offset3">
        <h2>Memmee something!</h2>

        <div id="profile" ng-controller="NewMemmeeController">
            <form class="well" >

                <textarea
                        class="input-xlarge"
                        id="textarea"
                        rows="3"
                        placeholder="Enter Your Memmee Here"
                        ng-model="memmee.text">

                </textarea>

            </form>
            <a ng-click="createMemmee()" class="btn btn-primary">Update »</a>
            <div style="padding-top: 10px; padding-bottom: 10px"></div>

        </div>

        <div id="secondAttachment" class="well" ng-controller="AttachmentController">
            <label for="fileToUpload">Select a File to Upload</label><br />
            <input type="file" ng-model="fileToUpload" ng-model-instant id="fileToUpload" multiple/>

            <div id="dropbox" class="dropbox" ng-class="dropClass"><span>{{dropText}}</span></div>
            <div style="padding-top: 10px; padding-bottom: 10px"></div>
            <a ng-click="uploadFile()" class="btn btn-primary">Upload</a>
            <div ng-show="files.length">
                <div ng-repeat="file in files">
                    <span>{{file.webkitRelativePath || file.name}}</span>
                    (<span ng-switch="file.size > 1024*1024">
                    <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                    <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
                </span>)
                </div>
                <div ng-show="progressVisible">
                    <div class="percent">{{progress}}%</div>
                    <div class="progress-bar">
                        <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<hr>

<footer>
    <p>© Memmee.com 2012</p>
</footer>