<div id="content">
    <div class="home-top">
        <span class="icon free">Free</span>
        <div class="memmee-carousel">
            <a class="btn prev">Previous</a>
            <div class="memmee-carousel-item">
            </div>
            <a class="btn next">Next</a>
        </div>

        <div class="signup stretched">
            <h2 class="signup-title">Sign Up Now</h2>

            <form method="post" ng-controller="RegistrationController">
                <fieldset>
                    <label for="signup">Email address is all you need to get started</label>
                    <input type="text" name="signup" value="Email Address" ng-model="user.email"/>
                </fieldset>
                <fieldset>
                    <a class="btn signup" ng-click="register()">Signup</a>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="home-btm">
        <span class="icon free"></span>
        <div class="memmee-beforeAfter clearfix">
            <div class="memmee-before">
                <h3>Before Memmee</h3>
            </div>
            <div class="memmee-after">
                <h3>After Memmee</h3>
            </div>
        </div>

        <div class="postcard">

        </div>

        <div class="callout clearfix">
            <div class="announce">
                <span class="announce-date">May 29, 2012</span>
                <dl class="announce-list">
                    <dt>News Title Goes Here</dt>
                    <dd>Xerspera tecepuditium quiatur siti sedit quam, volor reicabo rrovidebis porest, quodiam quis et, numqui volecti stionseri ut debis doles am et faceri optae lam harum corem fugit, intotat. </dd>
                </dl>
            </div>
            <div class="announce">
                <span class="announce-date">Sept 21, 2012</span>
                <dl class="announce-list">
                    <dt>News Title Goes Here</dt>
                    <dd>Xerspera tecepuditium quiatur siti sedit quam, volor reicabo rrovidebis porest, quodiam quis et, numqui volecti stionseri ut debis doles am et faceri optae lam harum corem fugit, intotat. </dd>
                </dl>
            </div>
        </div>

        <div class="signup sm" ng-controller="RegistrationController">
            <h2 class="signup-title">Sign up Now</h2>
            <form id="signupLower" method="post" >
                <p>Email address is all you need to get started</p>
                <fieldset>
                    <input type="text" id="signup" name="signup" placeholder="Email Address" ng-model="user.email"/>
                </fieldset>
                <fieldset>
                    <a class="btn signup" ng-click="register()">Signup</a>
                </fieldset>
            </form>
        </div>
    </div>
</div>