<div id="content" ng-controller="LoginController">
    <div >
        <div class="clearfix">
            <div class="memmee-form">
                <form method="post" action="url">
                    <fieldset>
                        <label for="email" class="lowercase">Login</label>
                        <input type="text"
                               id="email"
                               name="email"
                               placeholder="email"
                               ng-model="user.email">
                        <!--<span class="feedback-form valid">ok</span>-->
                    </fieldset>
                    <fieldset>
                        <label for="password" class="lowercase">Password</label>
                        <input type="password"
                               id="password"
                               name="password"
                               placeholder="password"
                               ng-model="user.password">
                        <!--<span class="feedback-form valid">ok</span>-->
                    </fieldset>
                    <fieldset style="padding-top: 10px;">
                        <a ng-click="login()" class="btn save">Login</a>
                    </fieldset>



                </form>
            </div>

        </div>
    </div>

</div>