<div id="content" ng-controller="RegistrationController">
    <div >
        <div class="clearfix">
            <div class="memmee-register-signup-form">

                <div style="padding-left: 50px">
                    <a href="#/home" style="font-size: 28px; cursor: pointer; text-decoration: none" >login</a>
                    <a href="#/signup" style="font-size: 28px; padding-left: 20px; cursor: pointer; text-decoration: none">signup</a>
                </div>

                <form method="post" action="url">
                    <fieldset>
                        <label for="email" class="lowercase">email</label>
                        <input type="text"
                               id="email"
                               name="email"
                               placeholder="email"
                               ng-model="user.email">
                    </fieldset>
                    <fieldset>
                        <label for="password" class="lowercase">password</label>
                        <input type="password"
                               id="password"
                               name="password"
                               placeholder="password"
                               ng-model="user.password">
                    </fieldset>
                    <fieldset>
                        <label for="name" class="lowercase">name (optional)</label>
                        <input type="name"
                               id="name"
                               name="name"
                               placeholder="name"
                               ng-model="user.name">
                    </fieldset>

                </form>
                <div>
                    <a ng-click="register()" key-handler fnName="register" style="text-indent: 14px" class="btn signup">register</a>
                    <a ng-click="forgotPassword()" style="cursor: pointer" >forgot password?</a>
                </div>
                <!--<img style="padding-left: 45px; padding-top: 25px" src="/img/appstore.png">-->
            </div>

        </div>
    </div>

</div>