<div id="content" ng-controller="RegistrationController">
    <div >
        <div class="clearfix">
            <div class="memmee-form">
                <form method="post" action="url">
                    <fieldset>
                        <label for="email" class="lowercase">email</label>
                        <input type="text"
                               id="email"
                               name="email"
                               placeholder="email"
                               ng-model="user.email">
                    </fieldset>
                    <fieldset>
                        <label for="password" class="lowercase">password</label>
                        <input type="password"
                               id="password"
                               name="password"
                               placeholder="password"
                               ng-model="user.password">
                    </fieldset>
                    <fieldset>
                        <label for="name" class="lowercase">name (optional)</label>
                        <input type="name"
                               id="name"
                               name="name"
                               placeholder="name"
                               ng-model="user.name">
                    </fieldset>

                    <fieldset style="padding-top: 10px;">
                        <a ng-click="register()" class="btn save">register</a>
                    </fieldset>

                    <fieldset style="padding-top: 10px;">
                        <a ng-click="forgotPassword()" style="cursor: pointer" >forgot password?</a>
                    </fieldset>

                    <fieldset style="padding-top: 10px;">
                        <a href="#/home" style="cursor: pointer; text-decoration: none" >login?</a>
                    </fieldset>

                </form>
            </div>

        </div>
    </div>

</div>