<div id="content">
    <div ng-class="selectedTheme" ng-controller="CreateMemmeesController">

        <div ng-controller="InspirationController">
            <!-- Hidden Inspiration State -->
            <h1 ng-show="hiddenInspiration()" class="memmee-create-heading">Give us a litte something. Memmee away...</h1>
            <a ng-click="toggleViewState()" ng-show="hiddenInspiration()" class="btn inspiration">Drawing a blank? We can help.</a>


            <div class="warning inspiration-container" ng-hide="hiddenInspiration()" >
                <!-- View Inspiration State -->
                <a class="btn close" ng-click="toggleViewState()">Close</a>
                <div class="flipper crimson" ng-show="viewInspiration()">

                    <a class="btn prev-arrow" ng-click="getPreviousInspiration()">Previous</a>
                    <p>{{inspiration.text}}</p>
                    <a class="btn next-arrow" ng-click="getNextInspiration()">Next</a>
                </div>
            </div>
        </div>

        <div class="memmee-user-photo" ng-show="showImage()">
            <img style="max-height: 180px; max-width: 270px;" ng-src="{{memmee.attachment.filePath}}"/>
        </div>

        <textarea
                  ng-mousedown="removePrompt()"
                  ng-mouseleave="addDefaultPrompt()"
                  maxlength="500"
                  onkeydown="return limitLines(this, event)"
                  rows="12"
                  class="memmee-text"
                  ng-model="memmee.text">
        </textarea>



        <div class="memmee-controls">
            <div class="controls styles">
                <a ng-click="toggleMemmeeThemeSelection()" class="link addStyle crimson">Style your Memmee: </a>

                <div class="memmee-style container left" ng-class="memmeeStyleSelectorVisibilityStyle">
                    <ul class="memmee-style dropdown crimson">
                        <li><a ng-click="setTheme(0)" class="btn style-news"></a> <a ng-click="setTheme(0)">Quick Note</a></li>
                        <li><a ng-click="setTheme(1)" class="btn style-coffee"></a> <a ng-click="setTheme(1)">Daydream</a></li>
                        <li><a ng-click="setTheme(2)" class="btn style-saleTag"></a> <a ng-click="setTheme(2)">On the Go</a></li>
                        <li><a ng-click="setTheme(3)" class="btn style-pushPin"></a> <a ng-click="setTheme(3)">Inspiration</a></li>
                        <li><a ng-click="setTheme(4)" class="btn style-whimsy"></a> <a ng-click="setTheme(4)">Pure Whimsy</a></li>
                    </ul>

                    <!--<div class="scrollbar-container">-->
                        <!--<a href="#" class="btn scrollUp">Up</a>-->
                        <!--<div class="scrollbar"></div>-->
                        <!--<a href="#" class="btn scrollDown">Down</a>-->
                    <!--</div>-->
                </div>
            </div>

            <!-- TODO:a Talk to John about this -->
            <div id="dropbox" class="controls photo" file-button ng-controller="AttachmentController">
                <a ng-hide="files.length" class="link photo crimson"><span class="icon photo">Photo</span> Add a Photo <span class="optional">optional</span></a>
                <a ng-click="deleteCurrentAttachment()" class="btn removePhoto"> {{files[0].webkitRelativePath || files[0].name}}</a>
            </div>

            <div class="controls io">
                <a class="datepicker link today crimson" data-date-format="mm-dd-yyyy" ng-init="initializeDatePicker('.datepicker')">{{getDisplayDate()}}</a>
                <a href="#view" class="btn save" ng-click="createMemmee()" ng-disabled="isUnchanged(memmee)">Save</a>
                <a href="#view" class="btn cancel" ng-click="cancel()">Cancel</a>
            </div>
        </div>
    </div>

    <ng-include src="'/js/memmee/list/list-ptl.html'"></ng-include>
</div>