<div class="span10 scrollable-x hidden-y nowrap" ng-controller="ArchiveListController">
    <div class="hidden-x hidden-y" ng-style="width: innerScrollerWidth();">
        <ul class="horizontal">
            <li class="span4 archive-list" ng-repeat="memmee in memmees">
                <div class="clear span3">Stub Date</div>
                <div class="clear span3 archive-list" ng-style="imageStyle(memmee);">
                    {{memmee.text}}
                </div>
            </li>
        </ul>
    </div>
</div>