<div class="row span11" ng-controller="ArchiveListController">
    <div class="span1">
        <button class="btn btn-large left" ng-mousedown="leftScroll('div.archive-list-scroller-inner')" ng-mouseup="scrolling = false"> <</button>
    </div>

    <div class="archive-list-scroller span8 scrollable-x hidden-y nowrap" ng-init="addScrollListener('div.archive-list-scroller')">
        <div class="archive-list-scroller-inner hidden-x hidden-y" ng-style="innerScrollerWidth(memmees);">
            <ul class="horizontal">
                <li class="span4 archive-list" ng-repeat="memmee in memmees" ng-click="onMemmeeSelect(memmee);">
                    <div class="clear span3">{{getDisplayDate(memmee)}}</div>
                    <div class="clear span3 archive-list" ng-style="imageStyle(memmee);">
                        {{memmee.text}}
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="span1">
        <button class="btn btn-large right" ng-mousedown="rightScroll('div.archive-list-scroller-inner')" ng-mouseup="scrolling = false"> ></button>
    </div>
</div>