<div class="well span10" ng-controller="CreateMemmeesController">

    <a class="btn btn-large">Get Inspiration</a>

    <form name="memmeeCreationForm">

        <textarea ng-model="memmee.text" class="input-xlarge span10" id="textarea" rows="10"></textarea>

        <div class="row span8">
            <div class="span4" ng-controller="AttachmentController">
                <div id="dropbox" class="dropbox" ng-class="dropClass"><i class="icon-camera"></i></div>
                <a ng-click="uploadFile()" class="btn btn-primary">Upload</a>
                <div ng-show="files.length">
                    <div ng-repeat="file in files">
                        <span>{{file.webkitRelativePath || file.name}}</span>
                        (<span ng-switch="file.size > 1024*1024">
                            <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                            <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
                        </span>)
                    </div>
                    <div ng-show="progressVisible">
                        <div class="percent">{{progress}}%</div>
                        <div class="progress-bar">
                            <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-group span4 offset4">
                <a class="btn btn-primary" >T1</a>
                <a class="btn btn-primary" >T2</a>
                <a class="btn btn-primary" >T3</a>
                <a class="btn btn-primary" >T4</a>
            </div>
        </div>

        <div class="row span8">
            <div class="span6">
                This Memmee will be dated: {{getDisplayDate()}}
            </div>
            <div class="span2">
                <a class="btn btn-primary" ng-click="createMemmee()" ng-disabled="isUnchanged(memmee)">Done</a>
                <a class="btn btn-primary" ng-click="cancel()">Cancel</a>
            </div>
        </div>

    </form>


</div>