<div class="well span10" ng-controller="CreateMemmeesController">

    <div ng-include src="'partials/inspiration.html'" class="row span10" style="margin: 0px; padding-bottom: 10px">
    </div>

    <form name="memmeeCreationForm">

        <textarea ng-model="memmee.text" class="input-xlarge span10" id="textarea" rows="10"></textarea>

        <div class="row span10" style="margin: 0px; padding-bottom: 10px" ng-controller="AttachmentController">
            <div class="span2" style="margin: 0px; ">
                <div style="float: left;">
                    <div id="dropbox" ng-class="dropbox">
                        <div file-button>
                            <button class='btn btn-success btn-large'><i class="icon-camera"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="files.length" class="span3">
                <div ng-repeat="file in files">
                    <span>{{file.webkitRelativePath || file.name}}</span>
                    (<span ng-switch="file.size > 1024*1024">
                            <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                            <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
                        </span>)
                </div>
                <div ng-show="progressVisible">
                    <div class="percent">{{progress}}%</div>
                    <div class="progress-bar">
                        <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                    </div>
                </div>
            </div>
            <div class="btn-group" style="float: right;">
                <a class="btn btn-primary" >T1</a>
                <a class="btn btn-primary" >T2</a>
                <a class="btn btn-primary" >T3</a>
                <a class="btn btn-primary" >T4</a>
            </div>
        </div>

        <div class="row span10" style="margin: 0px;" >
            <div style="margin: 0px; float: left;">
                This Memmee will be dated: {{getDisplayDate()}}
            </div>
            <div style="margin: 0px; float: right;">
                <a class="btn btn-primary" ng-click="createMemmee()" ng-disabled="isUnchanged(memmee)">Done</a>
                <a class="btn btn-primary" ng-click="cancel()">Cancel</a>
            </div>
        </div>

    </form>


</div>