<div class="well span10" ng-controller="CreateMemmeesController">

    <div ng-include src="'partials/inspiration.html'" class="row span10" style="margin: 0px; padding-bottom: 10px">
    </div>

    <form name="memmeeCreationForm">

        <textarea ng-model="memmee.text" class="input-xlarge span10" id="textarea" rows="10"></textarea>

        <div class="row span10" style="margin: 0px; padding-bottom: 10px" ng-controller="AttachmentController">
            <div class="span2" style="margin: 0px; ">
                <div style="float: left;">
                    <div id="dropbox" ng-class="dropbox">
                        <div file-button>
                            <button class='btn btn-success btn-large'><i class="icon-camera"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="files.length" class="span4">
                <button class='btn' ng-click="deleteCurrentAttachment()"><i class="icon-remove-circle"></i></button>
                <div ng-repeat="file in files">
                    <span>{{file.webkitRelativePath || file.name}}</span>
                </div>
            </div>
            <div class="btn-group" style="float: right;">
                <a class="btn btn-primary" ng-click="setTheme(0)">T1</a>
                <a class="btn btn-primary" ng-click="setTheme(1)">T2</a>
                <a class="btn btn-primary" ng-click="setTheme(2)">T3</a>
                <a class="btn btn-primary" ng-click="setTheme(3)">T4</a>
            </div>
        </div>

        <div class="row span10" style="margin: 0px;">
            <div style="margin: 0px; float: left;">
                This Memmee will be dated: <a class="datepicker" data-date-format="mm-dd-yyyy" ng-init="initializeDatePicker('.datepicker')">{{getDisplayDate()}}</a>
            </div>
            <div style="margin: 0px; float: right;">
                <a class="btn btn-primary" ng-click="createMemmee()" ng-disabled="isUnchanged(memmee)">Done</a>
                <a class="btn btn-primary" ng-click="cancel()">Cancel</a>
            </div>
        </div>

    </form>


</div>