<div ng-controller="InspirationController">
    <!-- Hidden Inspiration State -->
    <a class="btn btn-large" ng-click="toggleViewState()" ng-show="hiddenInspiration()">Get Inspiration</a>

    <!-- View Inspiration State -->
    <div style="height: 64px;" ng-show="viewInspiration()">
        <button class="btn btn-large left fullHeight" ng-click="getRandomInspiration(inspiration.id)"> <i class="icon-circle-arrow-left"></i> </button>
        <div class="well row span8" style="margin-left: 20px;">
            <button class="close" style="margin-top: -8px;" ng-click="toggleViewState()">&times;</button>
            <p>{{inspiration.text}}</p>
        </div>
        <button class="btn btn-large right fullHeight" style="margin-right: 8px;" ng-click="getRandomInspiration(inspiration.id)"> <i class="icon-circle-arrow-right"></i> </button>
    </div>
</div>