<div class="row">
    <div class="span4 offset3">
        <h2>Change Your Password</h2>

        <div id="profile" ng-controller="RequiredChangePasswordController">
            <form class="well" >
                <label>Password:</label>
                <input type="password"
                       class="span3"
                       placeholder="Password"
                       ng-model="user.password.value"
                        >
                <label>Confirm:</label>
                <input type="password"
                       class="span3"
                       placeholder="Confirm"
                       ng-model="confirmedPass"
                        >
                <p class="error" style="margin: auto auto 0 3px;"
                   ng-show="passwordError != ''">{{passwordError}}</p>
            </form>
            <button ng-click="changePassword()" class="btn btn-primary">Change Password »</button>
        </div>
    </div>
</div>

<div ng-include src="'partials/footer.html'">
</div>