<div class="well span10" ng-controller="ViewModeController">
    <div class="span7 offset1 row">
        <div style="float: left;">{{memmee.displayDate}}</div>
        <div style="float: right;">
            <a class="icon-trash" style="float: left; margin: 7px 25px;" ng-click="onDeleteMemmee()"></a>
            <ul class="nav pull-right" style="float: right">
                <li id="share-menu" class="dropdown btn-group">
                    <a href="#share-menu" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-target="#share-menu">Share<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="generateAndShowPublicLink()">Create Public Link</a></li>
                        <li><a href="">Email</a></li>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="well span7 offset1" style="margin-top: 12px; margin-bottom: 50px;">
        <div >
            <img ng-src="{{memmee.attachment.filePath}}"/>
        </div>
        <div id="text-view">
            <label>{{memmee.text}}</label>
        </div>
    </div>
</div>