<div id="content">
    <div class="memmee-card" ng-controller="ViewModeController">
        <span class="memmee-date lg">{{memmee.displayDate}}</span>

        <div class="controls share">
            <a href="#" class="btn trash" ng-click="onDeleteMemmee()">Trash</a>
            <a href="#" class="btn share">Share</a>
        </div>

        <p class="memmee-text" ng-bind-html-unsafe="memmee.text"></p >


        <div class="memmee-controls isHidden">
            <div class="controls styles">
                <a href="#" class="link addStyle"><span class="icon addStyle"></span>Style your Memmee: </a>
                <a href="#" class="btn style-news">Style 1</a>
                <a href="#" class="btn style-coffee">Style 2</a>
                <a href="#" class="btn style-pushPin">Style 3</a>
                <a href="#" class="btn style-saleTag">Style 4</a>
            </div>

            <div class="controls photo isHidden">
                <a href="#" class="btn removePhoto">Remove xxx.jpg</a>
            </div>

            <div class="controls io isHidden">
                <a href="#" class="link today"><span class="icon today">Today</span> Today</a>
                <a href="#" class="btn save">Save</a>
                <a href="#" class="btn cancel">Cancel</a>
            </div>
        </div>
    </div>
    <div class="memmee-slideshow">
        <a href="#" class="btn prev">Previous</a>

        <div class="slideshow-container">
            <div class="slideshow">
                <div class="slidecard-container">
                    <span class="slidecard-date">February 8, 2012</span>
                    <a href="#" class="slidecard note crimson">Ultrices turpis, venenatis cursus erat...</a>
                </div>

                <div class="slidecard-container">
                    <span class="slidecard-date">July 20, 2012</span>
                    <a href="#" class="slidecard art rokkitt">Proin luctus, augue vitae rutrum...</a>
                </div>

                <div class="slidecard-container">
                    <span class="slidecard-date">May 29, 2012</span>
                    <a href="#" class="slidecard pushpin josefinslab">Curabitur auctor, ante vel bibendum...</a>
                </div>

                <div class="slidecard-container">
                    <span class="slidecard-date">February 8, 2012</span>
                    <a href="#" class="slidecard luggage crimson">Ultrices turpis, venenatis cursus erat...</a>
                </div>

                <div class="slidecard-container">
                    <span class="slidecard-date">February 8, 2012</span>
                    <a href="#" class="slidecard luggage crimson">Ultrices turpis, venenatis cursus erat...</a>
                </div>
            </div>
        </div>

        <a href="#" class="btn next">Next</a>
    </div>
</div>