<div ng-class="memmee.theme.name" ng-controller="ViewModeController">
    <span class="memmee-date lg opensans" style="width: 155px">{{getDisplayDate(memmee)}}</span>

    <div class="controls share">
        <a class="btn trash" ng-click="onDeleteMemmee()">Trash</a>
        <a class="btn share" ng-click="toggleShareDropdown()">Share</a>
        <div class="isRelative">
            <div  class="memmee-style container isAbsolute right" style="top: 0px; right: -50px;" ng-class="shareVisibilityStyle">
                <ul class="memmee-style dropdown crimson" ng-mouseleave="closeShareIfMouseOutside($event)" >
                    <li ng-mouseenter="cancelShareTimer()" style="width: 180px;"><a ng-click="generateAndShowPublicLink()">create link</a></li>
                    <!--<li ng-mouseenter="cancelShareTimer()" style="width: 180px;"><a >Facebook</a></li>-->
                </ul>
            </div>
        </div>
    </div>

    <div class="memmee-user-photo" ng-show="showImage()">
        <img style="max-height: 180px; max-width: 270px;" ng-src="{{memmee.attachment.thumbFilePath}}"/>
    </div>


    <p class="memmee-text" ng-bind-html-unsafe="memmee.text"></p >


    <div class="memmee-controls isHidden">
        <div class="controls styles">
            <a href="#" class="link addStyle"><span class="icon addStyle"></span>Style your Memmee: </a>
            <a href="#" class="btn style-news">Style 1</a>
            <a href="#" class="btn style-coffee">Style 2</a>
            <a href="#" class="btn style-pushPin">Style 3</a>
            <a href="#" class="btn style-saleTag">Style 4</a>
        </div>

        <div class="controls photo isHidden">
            <a href="#" class="btn removePhoto">Remove xxx.jpg</a>
        </div>

        <div class="controls io isHidden">
            <a href="#" class="link today"><span class="icon today">Today</span> Today</a>
            <a href="#" class="btn save">Save</a>
            <a href="#" class="btn cancel">Cancel</a>
        </div>
    </div>
</div>