<div id="content">
    <div class="memmee-card">
    <div class="memmee-profile clearfix" ng-controller="RequiredChangePasswordController">
        <div class="memmee-form">
            <h1 class="title-form memmee-date lg">Change your password</h1>
            <h1 class="title-form memmee-date lg" ng-hide="!passwordError">{{passwordError}}</h1>
            <form method="post" action="url">
                <fieldset>
                    <label for="password">Password</label>
                    <input type="password"
                           id="password"
                           name="password"
                           placeholder="password"
                           ng-model="user.password.value"
                            >
                    <!--<span class="feedback-form valid">ok</span>-->
                </fieldset>
                <fieldset>
                    <label for="confirmPassword">Confirmation</label>
                    <input type="password"
                           id="confirmPassword"
                           name="confirmPassword"
                           placeholder="confirm password"
                           ng-model="confirmedPass"
                            >
                    <!--<span class="feedback-form valid">ok</span>-->
                </fieldset>
                <fieldset>
                    <a ng-click="changePassword()" class="btn save">change password</a>
                </fieldset>
            </form>
        </div>
    </div>
    </div>

</div>