<div id="content">
    <ng-include src="'/js/memmee/list/view-card-ptl.html'"></ng-include>

    <ng-include src="'/js/memmee/list/list-ptl.html'"></ng-include>

    <div class="memmee-profile clearfix">
        <div class="memmee-form">
            <h1 class="title-form memmee-date lg">Complete Your Profile</h1>
            <form method="post" action="url">
                <fieldset>
                    <label for="name">Name</label>
                    <input type="text"
                           id="name"
                           name="name"
                           placeholder="First Name"
                           ng-model="user.firstName"
                            >
                    <span class="feedback-form valid">ok</span>
                </fieldset>
                <fieldset>
                    <label for="email">Email Address</label>
                    <input type="text"
                           id="email"
                           name="email"
                           placeholder="Email Address"
                           ng-model="user.email"
                            >
                    <span class="feedback-form valid">ok</span>
                </fieldset>
                <fieldset>
                    <label for="pwd">Password</label>
                    <input type="password"
                           id="pwd"
                           name="pwd"
                           placeholder="Password"
                           ng-model="user.password.value"
                            >
                    <span class="feedback-form valid">ok</span>
                </fieldset>
                <fieldset>
                    <label for="pwd-confirm">Confirm Password</label>
                    <input type="password"
                           id="pwd-confirm"
                           name="pwd-confirm"
                           placeholder="Confirm"
                           ng-model="confirmedPass"
                            >
                    <span class="feedback-form invalid"></span>
                </fieldset>
                <fieldset>
                    <a href="#create" ng-click="update()" class="btn save">Save</a>
                </fieldset>
            </form>
        </div>
        <div class="memmee-benefits">
            <h1 class="tittle-benefits">Membership Benefits</h1>
            <ul>
                <li>
                    <span class="benefit-number">-1-</span>
                    <strong>A completely private memmee account</strong> that will store your memmee moments.
                </li>
                <li>
                    <span class="benefit-number">-2-</span>
                    <strong>Prompters and guidance</strong> to build this habit and ideas for what to even capture.
                </li>
                <li>
                    <span class="benefit-number">-3-</span>
                    <strong>A twice a week email</strong> with prompters and ideas to get in the memmee creation mood, ideas and stories from memmee members and contributors
                </li>
                <li>
                    <span class="benefit-number">-4-</span>
                    <strong>Ways to share individual memmees</strong> with your closet crew, offering them a chance to relive a moment with you.
                </li>
                <li>
                    <span class="benefit-number">-5-</span>
                    <strong>Coming soon...</strong> more ways to share, print and preserve your memmees
                </li>
            </ul>
        </div>
    </div>

</div>