<div id="content">
    <!--<ng-include src="'/js/memmee/view/view-card-ptl.html'"></ng-include>-->

    <div class="memmee-card">
    <div class="memmee-profile clearfix" ng-controller="ProfileController">
        <div class="memmee-form">
            <h1 class="title-form memmee-date lg">Complete Your Profile</h1>
            <form method="post" action="url">
                <fieldset>
                    <label for="name" class="lowercase">Name</label>
                    <input type="text"
                           id="name"
                           name="name"
                           placeholder="first name"
                           ng-model="user.firstName"
                            >
                    <!--<span class="feedback-form valid">ok</span>-->
                </fieldset>
                <fieldset>
                    <label for="email" class="lowercase">Email Address</label>
                    <input type="text"
                           id="email"
                           name="email"
                           placeholder="email address"
                           ng-model="user.email"
                            disabled="disabled"
                            >
                    <!--<span class="feedback-form valid">ok</span>-->
                </fieldset>
                <fieldset>
                    <label for="phone" class="lowercase">Cell Phone (just so we know who's texting us... we'll never call it)</label>
                    <input type="text"
                           id="phone"
                           name="phone"
                           placeholder="phone number"
                           ng-model="user.phone"
                            >
                    <!--<span class="feedback-form valid">ok</span>-->
                </fieldset>
                <fieldset>
                    <label for="pwd" class="lowercase">Password</label>
                    <input type="password"
                           id="pwd"
                           name="pwd"
                           placeholder="password"
                           ng-model="user.password.value"
                            >
                    <!--<span class="feedback-form valid">ok</span>-->
                </fieldset>
                <fieldset>
                    <label for="pwd-confirm" class="lowercase">Confirm Password</label>
                    <input type="password"
                           id="pwd-confirm"
                           name="pwd-confirm"
                           placeholder="confirm"
                           ng-model="confirmedPass"
                            >
                    <span class="feedback-form invalid"></span>
                </fieldset>
                <fieldset>
                    <a ng-click="update()" class="btn save">Save</a>
                </fieldset>
            </form>
        </div>

        <div class="memmee-benefits">
            <h1 class="title-benefits">your memmee account is:</h1>
            <ul>
                <li>
                    <!--<span class="benefit-number">-1-</span>-->
                    <strong>totally private</strong>
                </li>
                <li>
                    <!--<span class="benefit-number">-2-</span>-->
                    <strong>totally huge (look at all this virtual space!)</strong>
                </li>
                <li>
                    <!--<span class="benefit-number">-3-</span>-->
                    <strong>totally accessible at all times</strong>
                </li>
            </ul>
            <h1 class="title-benefits">we’ll provide:</h1>
            <ul>
                <li>
                    <!--<span class="benefit-number">-1-</span>-->
                    <strong>prompts to help get you started</strong>
                </li>
                <li>
                    <!--<span class="benefit-number">-2-</span>-->
                    <strong>email reminders and memmee motivations</strong>
                </li>
                <li>
                    <!--<span class="benefit-number">-3-</span>-->
                    <strong>a supportive community of members who exchange ideas, advice, and, gripes</strong>
                </li>
                <li>
                    <!--<span class="benefit-number">-4-</span>-->
                    <strong>ideas for ways you can share memmees with the best people in your life</strong>
                </li>
            </ul>
        </div>
    </div>
    </div>

</div>