<div ng-controller="AlertsController">

    <div class="overlay" ng-class="isModalPresent">&nbsp;</div>

    <div class="modal discard-memmee crimson" ng-class="isModalAlertPresent" id="modalAlert">

        <a class="btn modal-ext" ng-click="noClick()">×</a>
        <h1 class="modal-heading">{{header}}</h1>
        <p ng-bind-html-unsafe="message"></p>
        <div class="controls modal">
            <a class="btn delete" ng-click="yesClick()">Ok</a>
        </div>
    </div>

    <div class="modal discard-memmee crimson" ng-class="isModalYesNoAlertPresent" id="modalYesNoAlert">

        <a class="btn modal-ext" ng-click="noClick()">×</a>
        <h1 class="modal-heading">{{header}}</h1>
        <p ng-bind-html-unsafe="message"></p>
        <div class="controls modal clearfix">
            <a class="btn cancel" ng-click="noClick()">{{noText}}</a>
            <a class="btn delete" ng-click="yesClick()">{{yesText}}</a>
        </div>
    </div>

</div>