<div class="overlay" ng-class="isModalPresent" ng-controller="AlertsController">

    <div class="modal discard-memmee crimson" ng-class="isModalAlertPresent" id="modalAlert">

        <a class="btn modal-ext" data-dismiss="modal">×</a>
        <h1 class="modal-heading">{{header}}</h1>

        <div class="controls io">
            <p>{{message}}</p>
            <a class="btn delete" ng-click="yesClick()">Ok</a>
        </div>
    </div>

    <div class="modal discard-memmee crimson" ng-class="isModalYesNoAlertPresent" id="modalYesNoAlert">

        <a class="btn modal-ext" ng-click="">×</a>
        <h1 class="modal-heading">{{header}}</h1>

        <div class="controls io">
            <p>{{message}}</p>
            <a class="btn cancel" ng-click="noClick()">{{noText}}</a>
            <a class="btn delete" ng-click="yesClick()">{{yesText}}</a>
        </div>
    </div>

</div>