.memmee-text {
    left: 130px;
}

.memmee-card.style-travel {
    padding-left: 100px;
}

.memmee-card.style-travel .memmee-text {
    left: 180px;
}

.memmee-card.style-travel .inspiration-container {
    margin-left: 60px;
}

.datepicker-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
}

.controls.calendar {
    left: 0;
    top: 6px;
}

table.calendar {
    left: -6px;
    top: 28px;
}

.calendar td {
    padding: 1px 2px;
}

.title-month {
    font-size: 12px;
    margin-right: 16px;
}

.btn.prevMonth {
    display: inline-block;
    margin-right: 14px;
}

.btn.nextMonth {
    display: inline-block;
}

.slideshow {
    position: absolute;
    width: 10000px;
}

.slidecard-date {
    cursor: pointer;
}