/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face{
    font-family: "Crimson Text";
    src:
        "../font/crimson/Crimson-Text-Roman.ttf",
        "../font/crimson/Crimson-Text-Bold.ttf",
        "../font/crimson/Crimson-Text-Italic.ttf";
}

@font-face{
    font-family: "rokkitt";
    src:
        "../font/rokkitt/Rokkitt-Rregular.ttf",
        "../font/rokkitt/Rokkitt-Bold.ttf",
        "../font/rokkitt/Rokkitt-Light.ttf";
}

@font-face{
    font-family: "Josefin Sans";
    src:
        "../font/josefinsans/JosefinSans-Bold.ttf",
        "../font/josefinsans/JosefinSans-BoldItalic.ttf",
        "../font/josefinsans/JosefinSans-italic.ttf",
        "../font/josefinsans/JosefinSans-Regular.ttf";
}

@font-face{
    font-family: "josefinslab";
    src:
        "../font/josefinslab/JosefinSlab-Regular.ttf",
        "../font/josefinslab/JosefinSlab-Bold.ttf",
        "../font/josefinslab/JosefinSlab-Italic.ttf";
}

@font-face{
    font-family: "opensans";
    src:
        "../font/opensans/OpenSans-Bold.ttf",
        "../font/opensans/OpenSans-BoldItalic.ttf",
        "../font/opensans/OpenSans-Regular.ttf",
        "../font/opensans/OpenSans-Semibold.ttf",
        "../font/opensans/OpenSans-Semibolditalic.ttf";
}

.crimson{
    font-family: "Crimson Text", "Times New Roman", Times, serif;
}

.rokkitt{
    font-family: "rokkitt", "Times New Roman", Times, serif;
}

.josefineslab{
    font-family: "josefinslab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.opensans{
    font-family: "opensans", Arial, Helvetica, sans-serif;
}

a{
    color: #4b90a4;
}

input.rounded{
    height: 28px;
    padding-left: 10px;
    line-height: 28px;
    color: #797a79;
    font-family: "Crimson Text", "Times New Roman", Times, serif;
    border: 1px solid #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
}

/*HOMEPAGE*/
.btn.login{
    text-indent: 10px;
    width: 79px;
    height: 30px;
    line-height: 29px;
    background-position: -164px -338px;
    font-family: "Crimson Text", "Times New Roman", Times, serif;
    text-decoration: none;
}
.btn.login:hover {
    background-position: 0px -338px;
}
.btn.signup{
    text-indent: 10px;
    width: 79px;
    height: 30px;
    line-height: 29px;
    background-position: -164px -306px;
    font-family: "Crimson Text", "Times New Roman", Times, serif;
    text-decoration: none;
}
.btn.signup:hover {
    background-position: -242px -306px;
}

#header .btn.signup{
    position: absolute;
    top: 16px;
    right: 86px;
}
#login{
    display: block;
    position: absolute;
    top: 0;
    left: 484px;
    height: 52px;
    padding: 0 8px;
    margin-right: 8px;
}
#login .link.forgotPwd{
    display: none;
}
#login:hover{
    height: 80px;
    background-color: white;
    border: 1px solid #ccc;
}
#login:hover .link.forgotPwd{
    display: block;
    line-height: 11px;
    text-align: right;
    padding-right: 57px;
}
#login fieldset{
    float: left;
}
#login input {
    height: 28px;
    padding-left: 10px;
    line-height: 28px;
    color: #797a79;
    font-family: "Crimson Text", "Times New Roman", Times, serif;
    border: 1px solid #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    text-transform: lowercase;
}
#login .btn.login{
    margin: 17px 0 0 12px;
}
.home-top{
    position: relative;
    background-color: white;
    padding-bottom: 48px;
}
.home-top .icon.free{
    top: 374px;
    left: -106px;

}
.home-btm{
    position: relative;
    min-height: 1029px;
    padding-top: 60px;
}
.home-btm .icon.free{
    bottom: 173px;
    right: -80px;
    z-index: 10;
}
.icon.free{
    cursor: none;
    position: absolute;
    width: 137px;
    height: 137px;
    background-position: 0 -708px;
}
.memmee-carousel{
    position: relative;
    width: 931px;
    height: 388px;
    margin-bottom: 4px;
}
.memmee-carousel .btn.prev{
    text-indent: -100000px;
    width: 35px;
    height: 36px;
    position: absolute;
    top: 174px;
    left: -22px;
    background-position: 0 -844px;
}
.memmee-carousel .btn.prev:hover{
    background-position: 0 -880px;
}
.memmee-carousel .btn.next{
    text-indent: -100000px;
    width: 33px;
    height: 34px;
    position: absolute;
    top: 174px;
    right: -22px;
    background-position: -36px -846px;
}
.memmee-carousel .btn.next:hover{
    background-position: -36px -881px;
}
.memmee-carousel-item{
    width: inherit;
    height: inherit;
    background: transparent url('../img/bg-carousel.png')
}
.memmee-pts{
    width: 450px;
    float: left;
    padding-left: 53px;
    color: #eee;
    font: 35px/58px 'Crimson Text', 'Times New Roman', Times, serif;
}
.memmee-pts dt{
    padding-left: 45px;
}
.memmee-pts dd{
    height: 48px;
    padding-left: 45px;
    background-image: url('../img/sprite-ui.png');
    background-repeat: no-repeat;
    font: 35px/58px 'Crimson Text', 'Times New Roman', Times, serif;
}
.memmee-pt-1{
    background-position: -90px -880px;
}

.memmee-pt-2{
    background-position: -90px -930px;
}

.memmee-pt-3{
    background-position: -90px -975px;
}

.memmee-pt-4{
    background-position: -90px -1027px;
}

.memmee-pt-5{
    background-position: -90px -1027px;
}
.memmee-carousel-item .signup.sm{
    float: right;
    width: 242px;
    height: 229px;
    margin-top: 35px;
    margin-right: 18px;
    background: transparent url('../img/bg-signup-carousel.png') top left no-repeat;
}
.memmee-carousel-item .signup.sm form{
    width: 227px;
}
.memmee-carousel-item .signup.sm form fieldset{
    display: block;
    width: auto;
}
.memmee-carousel-item .signup.sm input{
    width: 227px;
    margin-bottom: 10px;
}

.signup.stretched{
    display: table-cell;
    vertical-align: middle;
    width: 851px;
    height: 91px;
    padding-left: 52px;
    padding-right: 33px;
    background: transparent url('../img/bg-signup.png') top left no-repeat;
}
.signup-title{
    display: inline-block;
    margin-right: 12px;
    padding-bottom: 10px;
    font: italic 28px/36px 'Crimson Text', 'Times New Roman', Times, serif;
    color: #144758;
    background: transparent url('../img/bg-signup-title.png') bottom left repeat-x;
}
.signup.stretched form{
    display: inline-block;
}
.signup.stretched label{
    display: inline-block;
    margin-right: 30px;
    font: 21px/1em 'Crimson Text', 'Times New Roman', Times, serif;
    color: #364a62;
}
.signup.stretched fieldset{
    display: inline-block;
}
.signup.stretched input{
    width: 225px;
    height: 28px;
    padding-left: 10px;
    line-height: 28px;
    color: #797a79;
    font-family: "Crimson Text", "Times New Roman", Times, serif;
    border: 1px solid #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
}
.memmee-beforeAfter{
    visibility: hidden;
    margin-bottom: 48px;
}
.memmee-before{
    margin-right: 24px;
}
.memmee-before, .memmee-after{
    position: relative;
    float: left;
    width: 458px;
    height: 346px;
    background: transparent url('../img/bg-beforeAfter.png') top left no-repeat;
}
.memmee-before h3, .memmee-after h3{
    position: absolute;
    top: 163px;
    left: 150px;
    font: 24px 'Crimson Text', 'Times New Roman', Times, serif;
    color: #48a6c2;
}
.postcard{
    width: 935px;
    height: 330px;
    margin-bottom: 25px;
    background: transparent url('../img/bg-green-postcard.png') top left no-repeat;
}
.blog-container{
    position: relative;
    width: 100%;
    height: 193px;
}
.blog{
    width: 509px;
    height: 193px;
    padding: 23px 40px 30px 25px;
    margin-right: 28px;
    background: transparent url('../img/bg-blog.png') top left no-repeat;
}
.title-blog{
    font: italic 28px/36px 'Crimson Text', 'Times New Roman', Times, serif;
    color: #144758;
}
.blog-post{
    width: 238px;
    margin-right: 30px;
    float: left;
}
.blog-post:last-child{
    margin-right: 0;
}
.post-date{
    font: bold 10px/35px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #d44e3c;
}
.blog-list{
    font-family: 'Crimson Text', 'Times New Roman', Times, serif;
}
.blog-list dt{
    margin-bottom: 20px;
    font-style: italic;
    font-size: 24px;
    line-height: 24px;
}
.blog-list dd{
    font-size: 14px;
    line-height: 18px;
}
.blog-container .signup.sm{
    position: absolute;
    top: 0;
    right: 0;
}
.signup.sm{
    width: 254px;
    height: 166px;
    padding: 36px 25px 40px;
    background: transparent url('../img/bg-signup-small.png') top left no-repeat;
}
.signup.sm .signup-title{
    text-transform: lowercase;
    margin-bottom: 20px;
}
.signup.sm p{
    display: block;
    margin-bottom: 20px;
    font: 21px/24px 'Crimson Text', 'Times New Roman', Times, serif;
    color: #364a62;
}
.signup.sm fieldset{
    display: inline-block;
}
.signup.sm input{
    display: inline-block;
    width: 150px;
    height: 28px;
    padding-left: 10px;
    line-height: 28px;
    color: #797a79;
    font-family: "Crimson Text", "Times New Roman", Times, serif;
    border: 1px solid #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
}

/*END HOMEPAGE*/

/*BLOG*/
.blog #content{
    width: 875px;

}
.blog-col{
    float: left;
}
.blog-col.left{
    width: 200px;
}

.blog-col.center{
    width: 475px;
}

.blog-col.right{
    width: 200px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html{
    min-height: 941px;
    background: #d0ebe4 url('../img/bg-page.png') top left repeat-x;
    text-align: center;
}
html.homepage{
    min-height: 1800px;
    background: transparent url('../img/bg-homepage.jpg') top left repeat-x;
}

#container {
    width: 967px;
    margin: 0 auto;
    text-align: left;
}

#header {
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom: 40px;
    /*padding: 0 50px;*/
    line-height: 60px;
}

#primaryNav{
    position: absolute;
    top: 13px;
    right: 15px;
}

#primaryNav li{
    float: left;
    margin-right: 5px;
}

#content{
    min-height: 807px;
    /*padding: px px px px;*/
}
.homepage #content{
    width: 870px;
}
.memmee-card-home{
    position: relative;
    width: 438px;
    height: 250px;
    margin-bottom: 50px;
    background: transparent url(../img/bg-card-main.png) top left no-repeat;
}

.memmee-card-top-home{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 877px;
    height: 292px;
    margin-bottom: 50px;
    background: transparent url(../img/bg-card-main.png) top left no-repeat;
}

.memmee-card{
    position: relative;
    width: 877px;
    height: 585px;
    margin-bottom: 50px;
    background-color: transparent;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url('../img/bg-card-main.png');
}
.memmee-card.style-coffee{
    width: 876px;
    height: 594px;
    font: 24px/36px 'rokkitt', Arial, Helvetica, sans-serif;
    color: #7c3f36;
    background-image: url('../img/bg-card-coffee.png');
}
.memmee-card.style-coffee .memmee-text{
    color: #7c3f36;
    font: 24px/36px 'rokkitt', Arial, Helvetica, sans-serif;
}
.memmee-card.style-whimsy{
    width: 883px;
    height: 582px;
    font: 22px/35px 'josefinslab', Arial, Helvetica, sans-serif;
    color: #513f48;
    background-image: url('../img/bg-card-whimsy.png');
}
.memmee-card.style-whimsy .memmee-text{
    font: 22px/35px 'josefinslab', Arial, Helvetica, sans-serif;
    color: #513f48;
}
.memmee-card.style-inspiration{
    width: 885px;
    height: 582px;
    font: 22px/35px 'Josefin Sans', Arial, Helvetica, sans-serif;
    color: #407280;
    background-image: url('../img/bg-card-inspiration.png');
}
.memmee-card.style-inspiration .memmee-text{
    color: #407280;
    font: 22px/35px 'Josefin Sans', Arial, Helvetica, sans-serif;
}
.memmee-card.style-travel{
    width: 979px;
    height: 597px;
    font: 24px/36px 'Crimson Text', 'Times New Roman', Times, serif;
    color: #7f7676;
    background-image: url('../img/bg-card-travel.png');
}
.memmee-card.style-travel .memmee-text{
     color: #7f7676;
    font: 24px/36px 'Crimson Text', 'Times New Roman', Times, serif;
}
.memmee-card.style-travel .btn.inspiration{
    right: 116px;
}
.memmee-card.style-travel .controls.share{
    right: 127px;
}

.memmee-bubble{
    position: absolute;
    top : 166px;
    left: 650px;
    width: 248px;
    height: 170px;
    padding: 45px 34px 28px 36px;
    overflow: hidden;
    background: transparent url(../img/bg-bubble.png) top left no-repeat;
}

.warning{
    position: absolute;
    top: 20px;
    left: 44px;
    width: 840px;
    height: 86px;
    padding: 10px;
    font-size: 21px;
    line-height: 25px;
    color: #364a62;
    overflow: hidden;
    background: transparent url(../img/bg-warning.png)
}

.warning .btn.close{
    float: right;
}

.flipper{

}

.flipper .btn{
    margin-top: 34px;
    vertical-align: top;
}

.flipper .btn, .flipper p{
    display: inline-block;
}

.flipper .btn.prev-arrow{
    margin-right: 76px;
}

.flipper p{
    width: 470px;
    height: 80px;
    margin-right: 55px;
    text-align: center;
    overflow: hidden;
}

.memmee-text{
    position: absolute;
    top: 130px;
    left: 44px;
    width: 494px;
    height: 346px;
    padding: 12px 60px;
    font: 17px/30px 'Courier New', Courier, 'Times New Roman', Times, sans-serif;
    background: transparent;
    border: none;
    overflow: hidden!important;
}

.memmee-user-photo{
    position: absolute;
    top: 216px;
    right: -130px;
    width: 276px;
    height: 187px;
    padding-top: 40px;
    background: transparent url('../img/bg-photo-frame.png') top left no-repeat;
}
.memmee-user-photo img{
    max-width: 270px!important;
    max-height: 170px!important;
    display: block;
    margin: auto;
}

.memmee-controls{
    position: absolute;
    bottom: 18px;
    left: 45px;
    width: 813px;
    height: 51px;
    line-height: 51px;
    background: transparent url('../img/bg-memmee-controls.png') top left no-repeat;
}

.memmee-controls .controls{
    display: inline-block;
    height: inherit;
    line-height: inherit;
    vertical-align: top;
    font-size: 12px;
}

.controls .icon{
    display: inline-block;
}

.controls a{
    vertical-align: middle;
}

.controls.styles{
    width: 186px;
    padding: 0 30px 0 26px
}

.controls.styles .memmee-style.container{
    display: none;
    top: -20px;
    left: -60px;
}

.controls.styles:hover .memmee-style.container{ /*Replace with JS*/
    display: block;
}

.controls.photo{
    width: 145px;
    padding: 0 20px;
    background: transparent url('../img/bg-control-photo.png') left center no-repeat;
}

.controls.photo .icon{
    margin-right: 6px;
    vertical-align: text-top;
}

.controls.io{
    width: 333px;
    position: relative;
    padding: 0 24px 0 15px
}

.controls.io a{
    display: inline-block;
    margin-right: 5px;
}

.controls.io .icon{
    margin-right: 6px;
    vertical-align: text-top;
}
.controls.io .save{
    position: absolute;
    top: 10px;
    right: 110px;
}
.controls.io .cancel{
    position: absolute;
    top: 12px;
    right: 20px;
}

.memmee-slideshow{
    position: relative;
    left: -46px;
    height: 176px;
}

.memmee-slideshow .btn{
    position: absolute;
    top: 80px;
}

.memmee-slideshow .btn.next{
    left: 938px;
}

.memmee-slideshow .slideshow-container{
    position: relative;
    left: 48px;
    width: 883px;
    height: 176px;
    overflow: hidden;
}

.slideshow-container p{
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
}

.slideshow-container p a{
    display: block;
    font-size: 24px;
    line-height: 24px;
}

#footer{
    padding-top: 14px;
}

#footerNav li{
    float: left;
    margin-right: 16px;
}

#footerNav li a{
    display: block;
    padding-right: 19px;
    font-size: 12px;
    text-transform: lowercase;
    text-decoration: none;
    color: #5a5b50;
    background: transparent url('../img/icon-footerLink.png') center right no-repeat;
}

.memmee-create-heading{
    text-decoration: none;
    position: absolute;
    top: 36px;
    left: 60px;
    width: 715px;
    height: 19px;
    padding-left: 206px;
    background: transparent url('../img/sprite-ui.png') 0 -428px no-repeat;
    font: 21px/1em Crimson, 'Times New Roman', Times, Serif;
    color: #51AEC9;
}

.memmee-card .btn.inspiration{
    position: absolute;
    top: 18px;
    right: -30px;
    height: 35px;
    padding: 3.5px 0;
    font: 16px/1em Crimson, 'Times New Roman', Times, Serif;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -ms-trasform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
    background-color: #000;
    opacity: 0.8;
}

.modal{
    position: absolute;
    z-index: 901;
    text-align: left;
}

.modal.discard-memmee{
    top: 50%;
    left: 50%;
    width: 393px;
    height: 150px;
    padding: 9px 10px 14px 30px;
    margin-top: -75px;
    margin-left: -140.5px;
    background: transparent url('../img/bg-modal.png') top left no-repeat;
}

.modal.discard-memmee .modal-ext{
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal.discard-memmee .controls{
    position: absolute;
    bottom: 14px;
    right: 17px;
}

.modal-heading{
    margin-bottom: 24px;
    padding-top: 16px;
    font-size: 24px;
    font-weight: normal;
    line-height: 20px;
    color: #354c51;
}

.modal-msg{
    font-size: 18px;
    line-height: 26px;
    color: #285f70;
}

.memmee-date.lg{
    display: block;
    position: absolute;
    top: 34px;
    left: 96px;
    padding: 0 6px 9px;
    color: #d44e3c;
    font-size: 16px;
    line-height: 20px;
    text-transform: lowercase;
    background: transparent url('../img/bg-memmee-date.png') bottom left repeat-x;
}

.controls.share{
    position: absolute;
    top: 14px;
    right: 24px;
    display: inline-block;
}

.controls.share .btn{
    display: inline-block;
}

.controls.share .btn.trash{
    margin-right: 9px;
}

.slidecard-container{
    display: inline-block;
    height: 176px;
    margin-right: 18px;
    overflow: hidden;
    vertical-align: middle;
}

.slideshow{
    width: 20000px; /*dynamic value to set via js.*/
}

.slidecard-date{
    display: block;
    padding-left: 4px;
    margin-bottom: 11px;
    color: #d44e3c;
    text-transform: lowercase;
}

.slidecard{
    display: block;
    padding: 20px 20px 20px 14px;
    text-decoration: none;
    /*white-space: nowrap;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;*/
    overflow: hidden;
    font-size: 21px;
    line-height: 24px;
    background-image: url('../img/sprite-memmee-card.png');
    background-repeat: no-repeat;
}

.slidecard.note{
    width: 148px;
    height: 81px;
    color: #404445;
    background-position: 0 0;
}

.slidecard.art{
    width: 148px;
    height: 80px;
    color: #7c3f36;
    background-position: 0 -125px;
}

.slidecard.pushpin{
    position: relative;
    top: -6px;
    width: 154px;
    height: 88px;
    color: #417280;
    background-position: 0 -246px;
}

.slidecard.luggage{
    position: relative;
    top: -3px;
    width: 153px;
    height: 78px;
    padding-left: 40px;
    color: #7f7676;
    background-position: 0 -375px;
}

.slidecard.whimsy{
    position: relative;
    top: -3px;
    width: 148px;
    height: 80px;
    color: #513f48;
    background-position: 0 -495px;
}

.list.steps{
    display: block;

    list-style-type: none;
    color: white;
}

.list.steps dt{
    margin-bottom: 2px;
    font: bold 10px/21px 'Josefin Sans', 'josefinslab', Arial, sans-serif;
    text-transform: lowercase;
    text-align: center;
}
.list.steps dd{
    margin-bottom: 8px;
    font: italic 14px/18px 'Crimson Text', 'Times New Roman', Times, serif;
    text-align: center;
}
.list.steps dd:last-child{
    margin-bottom: 0;
}
.memmee-style.container{
    /*display: none;*/
    position: relative;
    top: -20px;
    width: 224px;
    height: 141px;
    padding: 38px 18px 18px 15px;
    overflow: hidden;
    z-index: 900;
    background-color: transparent;
    background-position: top left;
    background-repeat: no-repeat;
}
.memmee-style.container.left{
    background-image: url('../img/bg-dropdown.png');
}
.memmee-style.container.right{
    background-image: url('../img/bg-dropdown-right.png');
}
.memmee-style.dropdown{
    width: 196px;
    display: block;
    list-style-type: none;
    color: #476579;
}
.memmee-style.dropdown li{
    display:block;
    height: 25px;
    margin:0 12px 3px;
    padding-left: 11px;
    font-size: 16px;
    line-height: 25px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
.memmee-style.dropdown li:hover{
    background-color: white;
}
.memmee-style.dropdown a{
    color: #476579;
    text-decoration: none;
}
.dropdown.user a{
    display: block;
}
.memmee-style.dropdown .btn{
    display: inline-block;
}
.memmee-style.dropdown .btn.style-news{
    margin-right: 13px;
}
.memmee-style.dropdown .btn.style-coffee{
    margin-right: 13px;
}
.memmee-style.dropdown .btn.style-saleTag{
    position: relative;
    left: -10px;
    margin-right: 8px;
}
.memmee-style.dropdown .btn.style-pushPin{
    margin-right: 30px;
}

.scrollbar-container{
    position: absolute;
    top: 30px;
    right: 15px;
    height: 136px;
    width: 12px;
}
.controls.styles .scrollbar-container .btn{
    display: block;
    line-height: 12px;
}
.scrollbar-container .btn.scrollDown{
    position: absolute;
    top: 100%;
}
.scrollbar-container .scrollbar{
    position: absolute;
    left: 4px;
    width: 4px;
    height: 64px;
    background-color: #70756b;
}
.calendar-container{
    /*display: none;*/
    position: absolute;
    top: 50px;
    z-index: 999;
    width: 197px;
    height: 190px;
    background: transparent url('../img/bg-calendar.png') top left no-repeat;
}
.controls.calendar{
    position: relative;
    left: 20px;
    top: 16px;
    width: 154px;
    height: 10px;
    line-height: 10px;
}
.controls.calendar .btn.prevMonth{
    position: absolute;
}
.controls.calendar .btn.nextMonth{
    position: absolute;
    right: 0;
}
.controls.modal a{
    float:right;
}
.title-month{
    display: inline-block;
    width: 112.5px;
    text-align: center;
    text-transform: lowercase;
    font-weight: bold;
    color: #476579;
}
table.calendar{
    position: absolute;
    left: 12px;
    top: 38px;
    width: 140px;
    height: 120px;
}

.calendar td{
    line-height: 20px;
    vertical-align: center;
}
.calendar td a{
    display: block;
    width: 20px;
    height: 20px;
    /*line-height: 20px;*/
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #476579;
    cursor: pointer;
}
.calendar td a:hover, .calendar td a.selected{
    background-color: #476579;
    color: white;
}
.calendar td a.prev-mo , .calendar td a.next-mo{
    color: #7ca9b0;
}
.memmee-profile{
    position: absolute;
    top: 72px;
    left: -200px;
    width: 976px;
    height: 546px;
    background: transparent url('../img/bg-form-extra.png') 2px -31px no-repeat;
}
.memmee-profile .memmee-date.lg{
    position: static;
    margin-bottom: 25px;
}
.memmee-form{
    float: left;
    width: 305px;
    height: 332px;
    margin-left: 274px;
    padding: 70px 23px 46px 70px;
    background: transparent url('../img/bg-register-form.png') top left no-repeat;
}
.memmee-form fieldset{
    display: block;
    margin-bottom: 12px;
}
.memmee-form label{
    display: block;
    color: #797a79;
    font: 14px/30px 'Crimson Text', 'Times New Roman', Times, Serif;
}

.memmee-form input{
    width: 214px;
    height: 27px;
    margin-right: 16px;
    padding: 0 16px;
    line-height: 27px;
    color: black;
    font: italic 18px/27px 'Crimson Text', 'Times New Roman', Times, Serif;
    background-color: #cee8df;
    border: none;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}
.memmee-form input:focus{
    border: none;
    background-color: white;
}
.memmee-form input.invalid{
    color: #c56659;
}

.feedback-form{
    display: inline-block;
    visibility: visible;/*toggle*/
    background-repeat: no-repeat;
}
.feedback-form.valid{
    color: #3b89d2;
}

.memmee-benefits{
    float: right;
    width: 232px;
    height: 422px;
    padding: 30px 26px 0 26px;
    background: transparent url('../img/bg-benefits.png') top left no-repeat;
    font-family: 'Crimson Text', 'Times New Roman', Times, Serif;
}
.memmee-benefits ul{
    list-style: disc;
}
.title-benefits{
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 36px;
    color: #5b574d;
}
.memmee-benefits li{
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 14px;
    color: #364a62;
}
.memmee-benefits li strong{
    font-weight: normal;
}

.benefit-number{
    display: block;
    margin-bottom: 9px;
}

.link{
    display: inline-block;
    text-decoration: none;
    text-transform: lowercase;
}

.link .icon{
    display: inline-block;
}

.link.more{
    position: relative;
    top: -12px;
    display: inline-block;
    margin-left: 20px;
    font-size: 12px;
    font-style: italic;
    line-height: 12px;
    color: #70706f;
}

.link.addStyle{
    font-size: 16px;
    line-height: 30px;
    margin-right: 14px;
    background: transparent url('../img/bg-link-photo.png') bottom left repeat-x;
}

.link.photo{
    display: inline-block;
    height: 19px;
    font-size: 12px;
    line-height: 19px;
    background: transparent url('../img/bg-link-photo.png') 28px bottom no-repeat;
}

.link.photo .optional{
    font-size: 10px;
    line-height: 12px;
    font-style: italic;
    color: #c85c2c;
}

.link.today{
    display: inline-block;
    height: 19px;
    font-size: 12px;
    line-height: 19px;
    background: transparent url('../img/bg-link-today.png') 28px bottom no-repeat;
}

.link.bubble-close{
    position: relative;
    top: 5px;
    left: 64px;
    font: bold 10px/12px "josefinslab", Arial, sans-serif;
    text-transform: lowercase;
    color: white;
}

.link.bubble-close .icon{
    margin-right: 12px;
}

.link.bubble-close:hover .icon{
    background-position: -11px -600px;
}

.link.forgotPwd{
    display: block;
    text-decoration: none;
    font-size: 11px;
    color: #999;
}

link.noMemmees{
    text-decoration: none;
    text-transform: lowercase;
}

.btn, .icon{
    display: block;
    text-indent: -100000000px;
    cursor: pointer;
    text-transform: lowercase;
    background-image: url('../img/sprite-ui.png');
    background-repeat: no-repeat;
}

.btn.newMemmee, .btn.viewMemmee {
    color: #2B231D;
    text-decoration: none;
    font-weight: bold;
    text-indent: 55px;
    line-height: 40px;
    display: block;
    font: 14px/10px 'Crimson Text', 'Times New Roman', Times, serif;
}

.btn.newMemmee:hover, .btn.newMemmee.active, .btn.viewMemmee:hover {
    color: #A1A7A5;
}

.btn.newMemmee{
    position: relative;
    line-height: 38px;
    width: 165px;
    height: 51px;
    background-position: -330px 0px;
}
.btn.newMemmee:hover, .btn.newMemmee.active{
    background-position: -504px 0px;
}
.btn.viewMemmee{
    position: relative;
    line-height: 38px;
    width: 173px;
    height: 51px;
    background-position: -330px 0px;
}
.btn.viewMemmee:hover{
    background-position: -504px 0px;
}
.btn.close{
    text-indent: -100000px;
    width: 64px;
    height: 21px;
    background-position: 0 -52px;
}
.btn.close:hover{
    background-position: -65px -52px;
}
.btn.prev-arrow{
    text-indent: -100000px;
    width: 51px;
    height: 19px;
    background-position: 0 -73px;
}
.btn.prev-arrow:hover{
    background-position: -51px -73px;
}
.btn.next-arrow{
    text-indent: -100000px;
    width: 51px;
    height: 20px;
    background-position: 0 -93px;
}
.btn.next-arrow:hover{
    background-position: -51px -93px;
}
.btn.style-news{
    width: 30px;
    height: 22px;
    background-position: 0 -625px;
}
.btn.style-news:hover{
    width: 30px;
    height: 22px;
    background-position: 0px -647px;
}
.btn.style-coffee{
    width: 32px;
    height: 23px;
    background-position: -49px -624px;
}
.btn.style-coffee:hover{
    width: 32px;
    height: 26px;
    background-position: -48px -646px;
}
.btn.style-pushPin{
    width: 16px;
    height: 20px;
    background-position: -96px -625px;
}
.btn.style-pushPin:hover{
    width: 16px;
    height: 27px;
    background-position: -95px -645px;
}
.btn.style-saleTag{
    width: 37px;
    height: 22px;
    background-position: -120px -624px;
}
.btn.style-saleTag:hover{
    width: 37px;
    height: 23px;
    background-position: -120px -646px;
}
.btn.save{
    color: #4E5F61;
    text-decoration: none;
    font-weight: bold;
    text-indent: 25px;
    line-height: 40px;
    display: block;
    font: 14px/35px 'Crimson Text', 'Times New Roman', Times, serif;
    width: 81px;
    height: 34px;
    background-position: -1px -303px;
}
.btn.save:hover{
    background-position: -82px -303px;
}
.btn.cancel{
    color: #4E5F61;
    text-decoration: none;
    font-weight: bold;
    text-indent: 25px;
    line-height: 40px;
    display: block;
    font: 14px/32px 'Crimson Text', 'Times New Roman', Times, serif;
    width: 82px;
    height: 29px;
    background-position: 0 -340px;
}
.btn.cancel:hover{
    background-position: -82px -340px;
}
.btn.prev{
    text-indent: -100000px;
    width: 30px;
    height: 30px;
    background-position: 0 -368px;
}
.btn.next{
    text-indent: -100000px;
    width: 30px;
    height: 30px;
    background-position: 0 -398px;
}
.btn.inspiration{
    text-indent: -10000px;
    width: 192px;
    height: 42px;
    background-position: 0 -448px;
}
.btn.removePhoto{
    display: inline-block;
    width: 112px;
    height: 23px;
    padding: 0 24px 0 5px;
    line-height: 23px;
    overflow: hidden;
    text-overflow:ellipsis;
    background-position: 0 -263px;
    text-indent: 0;
    position: relative;
}
.btn.removePhoto input{
    position: absolute;
}
.btn.delete{
    color: #4E5F61;
    text-decoration: none;
    font-weight: bold;
    text-indent: 25px;
    line-height: 40px;
    display: block;
    font: 14px/32px 'Crimson Text', 'Times New Roman', Times, serif;
    width: 81px;
    height: 34px;
    background-position: 0 -534px;
}
.btn.delete:hover{
    background-position: -81px -534px;
}
.btn.modal-ext{
    text-decoration: none;
    width: 13px;
    height: 13px;
    background-position: 0 -520px;
}
.btn.modal-ext:hover{
    background-position: -13px -520px;
}
.btn.share{
    color: #4E5F61;
    text-decoration: none;
    font-weight: bold;
    text-indent: 25px;
    display: block;
    font: 14px/32px 'Crimson Text', 'Times New Roman', Times, serif;
    width: 119px;
    height: 27px;
    background-position: 0 -492px;
}
.btn.share:hover{
    background-position: -120px -492px;
}
.btn.trash{
    text-indent: -100000px;
    width: 16px;
    height: 32px;
    background-position: 0 -568px;
}
.btn.trash:hover{
    background-position: -22px -568px;
}
.btn.prevMonth{
    text-indent: -100000px;
    width: 10px;
    height: 10px;
    background-position: 0 -611px;
}
.btn.nextMonth{
    text-indent: -100000px;
    width: 10px;
    height: 10px;
    background-position: -10px -611px;
}
.btn.scrollUp{
    width: 12px;
    height: 12px;
    background-position: 0 -676px;
}
.btn.scrollDown{
    width: 12px;
    height: 12px;
    background-position: -12px -676px;
}

.icon {
    text-indent: -10000px;
}

.icon.addStyle{
    width: 19px;
    height: 18px;
    margin-right: 13px;
    background-position: 0 -113px;
    vertical-align: text-bottom;
}
.icon.photo{
    width: 23px;
    height: 19px;
    background-position: 0 -243px;
}
.icon.magnifying{
    position: absolute;
    top: 8px;
    left: 16px;
    width: 29px;
    height: 26px;
    background-position: 0 -980px;
}
.icon.pen{
    position: absolute;
    top: 8px;
    left: 16px;
    width: 29px;
    height: 26px;
    background-position: 0px -953px;
}
.icon.today{
    width: 20px;
    height: 19px;
    background-position: 0 -286px;
}
.icon.bubble-close{
    display: inline-block;
    width: 11px;
    height: 11px;
    background-position: 0 -600px;
}
.icon.valid{
    display:inline-block;
    width: 19px;
    height: 16px;
    background-position: 0 -688px;
}
.icon.invalid{
    display:inline-block;
    width: 17px;
    height: 20px;
    background-position: -19px -688px;
}

.lowercase {
    text-transform: lowercase;
}

/*STATE*/
.isRelative{
    position: relative!important;
}
.isAbsolute{
    position: absolute!important;
}
.isHidden{
    display: none!important;
}

.isShown{
    display: block!important;
}

.isFrozen{
    overflow: hidden!important;
}

.isUnfrozen{
    overflow: auto!important;
}
