<div class="memmee-slideshow" ng-controller="ArchiveListController">
    <a class="btn prev">Previous</a>


    <div class="slideshow-container" ng-init="initializeScrolling('.slideshow-container')">
        <p class="crimson lowercase" ng-show="(memmees == null || memmees.length == 0)">
            <a class="link" href="#create">You have no Memmees</a> Create a Memmee
        </p>

        <div class="slideshow items" ng-hide="(memmees == null || memmees.length == 0)">
            <div ng-repeat="memmeeSet in memmeeSets" class="inline-block">
                <div class="slidecard-container" ng-repeat="memmee in memmeeSet">
                    <label ng-click="onMemmeeSelect(memmee)"
                           class="slidecard-date opensans">{{getDisplayDate(memmee)}}</label>
                    <a ng-click="onMemmeeSelect(memmee)" ng-class="memmee.theme.listName"
                       ng-bind-html-unsafe="memmee.text"></a>
                </div>
            </div>
        </div>
    </div>

    <a class="btn next">Next</a>
</div>