<div id="header" ng-controller="HeaderController">
    <a href="#home" title="Memmee"><img src="img/logo.png" alt="memmee"/></a>
    <ul id="primaryNav" class="clearfix" ng-class="visibleLoggedInStyle">
        <li><a ng-click="viewModeClicked()" title="View Memmee" class="btn viewMemmee">View Memmee</a></li>
        <li><a ng-click="createModeClicked()" title="New Memmee" class="btn newMemmee">New Memmee</a></li>
        <li ng-show="loggedInUser.firstName || loggedInUser.lastName">
            <a ng-click="toggleSettingsDropdown()" class="link more crimson">{{loggedInUser.firstName}} {{loggedInUser.lastName}}</a>
        </li>
        <li ng-hide="loggedInUser.firstName || loggedInUser.lastName">
            <a ng-click="toggleSettingsDropdown()" class="link more crimson">New User</a>
        </li>
        <li class="isRelative">
            <div class="memmee-style container isAbsolute" style="top: 40px; right: -100px;" ng-class="userSettingsDropdownStyle">
                <ul class="memmee-style dropdown crimson">
                    <li style="width: 180px;"><a href="#profile" ng-click="toggleSettingsDropdown()">Profile</a></li>
                    <li style="width: 180px;"><a ng-click="signOut()">Sign Out</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>