<div id="header" ng-controller="HeaderController">
    <a href="#home" title="memmee"><img src="img/logo.png" alt="memmee" /></a>


    <!-- Logged out Header -->
    <!--<form id="login" method="post" ng-controller="LoginController" ng-class="visibleLoggedOutStyle">-->
        <!--<fieldset>-->
            <!--<input type="text" id="email" name="email" ng-model="user.email" placeholder="Email Address" ng-style="forgotPasswordInputStyle"/>-->
            <!--<input type="password" id="pwd" name="pwd" ng-model="user.password" placeholder="Password" key-handler fnName="login"/>-->
            <!--<a ng-click="forgotPassword()" class="link forgotPwd">Forgot Password</a>-->
        <!--</fieldset>-->
        <!--<fieldset>-->
            <!--<a class="btn login" ng-click="login()">Login</a>-->
        <!--</fieldset>-->
    <!--</form>-->


    <!-- Logged in Header -->
    <ul id="primaryNav" class="clearfix" ng-class="visibleLoggedInStyle">
        <li ng-show="isCreateMode() || isProfileMode()"><a ng-click="viewModeClicked()" title="View Memmee" class="btn viewMemmee"><span class="icon magnifying"></span>View Memmee</a></li>
        <li ng-show="!isCreateMode() || isProfileMode()"><a ng-click="createModeClicked()" title="New Memmee" class="btn newMemmee"><span class="icon pen"></span>New Memmee</a></li>
        <li ng-show="loggedInUser.firstName || loggedInUser.lastName">
            <a ng-click="toggleSettingsDropdown()" class="link more crimson">{{loggedInUser.firstName}} {{loggedInUser.lastName}}</a>
        </li>
        <li ng-hide="loggedInUser.firstName || loggedInUser.lastName">
            <a ng-click="toggleSettingsDropdown()" class="link more crimson">New User</a>
        </li>
        <!-- Option 1: http://jsfiddle.net/upPdx/1/ -->
        <li class="isRelative">
            <div  class="memmee-style container right isAbsolute" style="top: 40px; right: -50px;" ng-class="userSettingsDropdownStyle">
                <ul class="memmee-style user dropdown crimson" ng-mouseleave="closeDropdownIfMouseOutside($event)" >
                    <li ng-mouseenter="cancelDropdownTimer()" style="width: 180px;" class="lowercase"><a href="#profile" ng-click="toggleSettingsDropdown();profileModeClicked()">Profile</a></li>
                    <li ng-mouseenter="cancelDropdownTimer()" style="width: 180px;" class="lowercase"><a ng-click="signOut()">Sign Out</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
